.header {
    background-color: black;
    border-bottom: #a1a1a1 solid 2px;
    position: absolute;
    z-index: 999;
    width: 100%;
    padding: 20px 20px 20px 20px;
}

.h1 {
    margin-left: 100px;
}

.navigation {
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    z-index: 1;
    top: 0;
}

.navigation a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #9e9d9d;
    line-height: 30px;
    float: left;
}

.navigation a:hover {
    font-size: 25px;
    text-shadow: 3px 2px #d7d7d7;
    color: #000000;
}

.navigation ul {
    float: right;
}

.navigation li {
    display: inline-block;
}

.navigation li a {
    color: #939292;
    font-size: 18px;
    padding: 0px 20px;
}

.navigation li a:hover {
    font-size: 25px;
    text-shadow: 3px 2px #d7d7d7;
    color: #000000;
}

.buttonLogin {
    padding: 3px 10px;
    border-radius: 5px;
}

.buttonLogin:hover {
    background-color: #c4c4c438;
}

.buttonRegister {
    padding: 3px 10px;
    border-radius: 5px;
}

.buttonRegister:hover {
    background-color: #c4c4c438;
}

.buttonCatalogue {
    padding: 3px 10px;
    border-radius: 5px;

}

.buttonCatalogue:hover {
    background-color: #c4c4c438;
}

.buttonLogout {
    padding: 3px 10px;
    border-radius: 5px;
}

.buttonLogout:hover {
    background-color: #c4c4c438;
}

.buttonProfile {
    padding: 3px 10px;
    border-radius: 5px;
}

.buttonProfile:hover {
    background-color: #c4c4c438;
}